<div id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>{{appName}}</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#sampleReport">Sample Report</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="row centered">

    <div id='fishingAppContent'></div>

  </div>
</div>


<div class='navbar navbar-fixed-bottom'>
  <div class='footer'>
    <div class="container">
      <p>{{appName}}</p>
    </div>
  </div>
</div>